[submodule "googletest"]
	path = googletest
	url = git@github.com:google/googletest.git
[submodule "build/nanopb"]
	path = build/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "nanopb"]
	path = nanopb
	url = https://github.com/nanopb/nanopb.git
